asgiref==3.8.1
contourpy==1.2.1
crispy-bootstrap5==2024.2
cycler==0.12.1
dj-database-url==2.2.0
Django==5.0.6
django-allauth==0.63.3
django-crispy-forms==2.2
django-debug-toolbar==4.4.2
django-environ==0.11.2
django-heroku==0.3.1
environ==1.0
fabio==2024.4.0
fonttools==4.53.0
gunicorn==22.0.0
iniconfig==2.0.0
kiwisolver==1.4.5
lxml==5.2.2
matplotlib==3.9.0
oauthlib==3.2.2
pluggy
psycopg2==2.9.9
PyJWT==2.8.0
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.14
PyQt5-sip==12.13.0
pytest==8.2.2
pytest-django==4.8.0
python-dotenv==1.0.1
python3-openid==3.2.0
requests-oauthlib==2.0.0
setuptools==70.2.0
silx==2.1.0
sqlparse==0.5.0
whitenoise==6.7.0
psycopg2-binary