asgiref==3.8.1
cloudinary==1.40.0
dj-database-url==2.2.0
dj3-cloudinary-storage==0.0.6
Django==5.0.6
django-allauth==0.63.3
django-debug-toolbar==4.4.2
django-heroku==0.3.1
environ==1.0
gunicorn==22.0.0
iniconfig==2.0.0
oauthlib==3.2.2
pluggy==1.5.0
psycopg2==2.9.9
PyJWT==2.8.0
pytest==8.2.2
pytest-django==4.8.0
python-dotenv==1.0.1
python3-openid==3.2.0
requests-oauthlib==2.0.0
setuptools==70.1.1
sqlparse==0.5.0
whitenoise==6.7.0
