asgiref
cloudinary
dj-database-url
Django
django-allauth
django-debug-toolbar
django-heroku
environ
django-environ
gunicorn
iniconfig
oauthlib
pluggy
psycopg2
PyJWT
pytest
pytest-django
python-dotenv
python3-openid
requests-oauthlib
setuptools
sqlparse
whitenoise