body {
    padding-top: 56px;/
  }
  
  .navbar-nav .nav-item .nav-link {
    color: #ffffff;
    margin-right: 15px;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #d4af37;
  }
  
  .navbar-text {
    padding-left: 15px;
  }
  