{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <section id="reservations">
      <br>
      <br>
      <br>
      <h2>This form is for reservation requests only at Restaurant Fine Dine.</h2>
      <p><b>Please sign in for faster confirmation or proceed to request a table below.</b></p>
      <p>We recommend making a reservation to secure your desired table, especially for evenings and weekends.</p>

      <form id="reservation-form" method="POST" action="https://formdump.codeinstitute.net" target="_blank">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="text-center mt-3">
          <button type="submit" class="btn btn-primary">Request a Table</button>
        </div>
      </form>

      <section class="container py-5 text-center">
        <h2>Follow Us</h2>
        <p>Stay connected with Restaurant Fine Dine and discover the latest culinary creations, special events, and exclusive offers.</p>
        <a href="https://www.facebook.com" target="_blank" class="btn btn-secondary mx-2"><i class="fab fa-facebook-f"></i> Facebook</a>
        <a href="https://www.instagram.com" target="_blank" class="btn btn-secondary mx-2"><i class="fab fa-instagram"></i> Instagram</a>
      </section>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>

<script>
  $(document).ready(function() {

    $('#id_reservationDate').datepicker({
      format: 'yyyy-mm-dd',
      autoclose: true,
      todayHighlight: true
    });


    $('#id_reservationTime').timepicker({
      showMeridian: false,
      minuteStep: 15,
      defaultTime: false
    });
  });
</script>
{% endblock %}
