<!-- Reference: Code Institute Curriculum and Code Star Project -->
<!-- Reference: https://github.com/flatplanet/Django-CRM -->
<!-- Reference: https://getbootstrap.com -->
<!-- Notes: Below code is based on the above references and modifed for the project -->

<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
  <title>Restaurant - Fine Dine - Create Reservation</title>
  <meta name="description" content="Plan your unforgettable fine-dining 
  experience! Book a table online at our restaurant and savor exquisite cuisine
  in an elegant ambiance.">
</head>

{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}
{% load crispy_forms_tags %}
<br>
<br>
<br>
<br>
<section class="container py-5">
<h2>Welcome, {{ user.username }}!</h2>
{% endif %}

<!-- Reference in modified parts below: https://github.com/flatplanet/Django-CRM -->
<h2>Please Create Your Next Reservation Here!</h2>

<form method="POST" action="{% url 'create_reservation' %}">
  {% csrf_token %}
  {{ form|crispy }}
  <div class="row">
    <div class="text-center mt-3">
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create Reservation</button>
  </div>
</form>
<br>
<br>
<br>
<br>
<br>
</section>
{% endblock %}
</body>
