<!-- Reference: Code Institute Curriculum and Code Star Project -->
<!-- Reference: https://github.com/flatplanet/Django-CRM -->
<!-- Reference: https://getbootstrap.com -->
<!-- Notes: Below code is based on the above references and modifed for the project -->

<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant - Fine Dine - Create Reservation</title>
  <meta name="description" content="Plan your unforgettable fine-dining experience! Book a table online at our restaurant and savor exquisite cuisine in an elegant ambiance.">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="h-100">
  {% extends 'base.html' %} 
  {% block content %}
  {% if user.is_authenticated %}
    {% load crispy_forms_tags %}
    <section class="container py-5"><br>
      <h2>Welcome, {{ user.username }}!</h2>
  {% endif %}

    <h2>Please Create Your Next Reservation Here!</h2>
    <form id="reservation-form" method="POST" action="{% url 'create_reservation' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <a href="/agreed_to_terms" target="_blank">Read Terms and Conditions</a>
      <div class="row">
        <div class="col-12 text-center mt-3">
          <button type="submit" class="btn btn-primary" id="submit-btn" disabled>Create Reservation</button>
          <a href="/my_reservations" class="btn btn-success">Back to Your Reservations</a>
        </div>
      </div>
    </form>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
  {% load static %}
  <script src="{% static '/js/reservation_form.js' %}"></script>

  {% endblock %}
</body>
</html>
