<!-- Reference: Code Institute Curriculum and Code Star Project -->
<!-- Reference: https://github.com/flatplanet/Django-CRM -->
<!-- Reference: https://getbootstrap.com -->
<!-- Notes: Below code is based on the above references and modifed for the project -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Fine Dine - Footer</title>
</head>
<body>

  <footer class="footer fixed-bottom mt-auto py-3 bg-dark text-white">
    <div class="container d-flex justify-content-between align-items-center">
      <span class="me-md-auto">&copy; 2024 Restaurant Fine Dine</span>
      <ul class="list-unstyled d-flex mb-0">
        <li class="me-4">
          <a class="text-white text-decoration-none" href="https://facebook.com" target="_blank" style="color: white;">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li class="me-4">
          <a class="text-white text-decoration-none" href="https://x.com/" target="_blank" style="color: white;">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
        <li class="me-4">
          <a class="text-white text-decoration-none" href="https://instagram.com" target="_blank" style="color: white;">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer> 
</body>
</html>
