
<!-- Reference: Code Institute Curriculum and Code Star Project -->
<!-- Reference: https://github.com/flatplanet/Django-CRM -->
<!-- Reference: https://getbootstrap.com -->
<!-- Notes: Below code is based on the above references and modifed for the project -->

<!-- Reference in modified parts below: Code Institute Curriculum and Code Star Project -->
<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
  <title>Restaurant - Fine Dine</title>
  <meta name="description" content="Secure your table at our fine-dining restaurant! Book your reservation online quickly and easily. Enjoy an unforgettable culinary experience.">
</head>

<body>

{% extends 'base.html' %} {% block content %} 
{% if user.is_authenticated %}
<p>
  <br>
  <br>
  <br>
</p>

<main class="container my-5">
  <h2>{{ user.username }}, Your Current Reservations</h2>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Guests</th>
        <th>Occasion</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for reservation in reservations %}
      <tr>
        <td>{{ reservation.date }}</td>
        <td>{{ reservation.time }}</td>
        <td>{{ reservation.number_of_guests }}</td>
        <td>{{ reservation.occasion }}</td>
        <td>
          <a
          href="{% url 'create_reservation' %}"
          class="btn btn-sm btn-success"
          title="Create Reservation"
          onclick="return confirm('Are you sure you want to Create a New reservation?')"
        >
          <i class="fas fa-plus"></i>
        </a>
          <a
            href="{% url 'view_reservation' reservation.id %}"
            class="btn btn-sm btn-info"
            title="View Reservation Details"
            onclick="return confirm('Are you sure you want to View this reservation?')"
          >
            <i class="fas fa-eye"></i>
          </a>
          <a
            href="{% url 'update_reservation' reservation.id %}"
            class="btn btn-sm btn-warning"
            title="Edit Reservation"
            onclick="return confirm('Are you sure you want to Edit this reservation?')"
          >
            <i class="fas fa-edit"></i>
          </a>
          <a
            href="{% url 'delete_reservation' reservation.id %}"
            class="btn btn-sm btn-danger"
            title="Delete Reservation"
            onclick="return confirm('Are you sure you want to Delete this reservation?')"
          >
            <i class="fas fa-trash-alt"></i>
          </a>
          
        </td>
      </tr>
    
      
  </tbody>
      {% endfor %}
  </table>
  <div class="text-center mt-3">
    <button type="button" class="btn btn-sm btn-success" title="Create a New Reservation" onclick="if (confirm('Are you sure you want to create a new reservation?')) { window.location.href='{% url 'create_reservation' %}'; }">
      <i class="fas fa-plus"></i> Create a New Reservation
    </button> <button type="button" class="btn btn-sm btn-secondary" title="Exit Reservation Page" onclick="if (confirm('Changed your mind? Did you not want to create a New Reservation? Please Confirm or Cancel')) { window.location.href='{% url 'home' %}'; }">
      <i class="fa-regular fa-circle-xmark"></i> Exit Reservation Page
    </button>
  </div>
    </main>
{% else %}

<p>
  You must be logged in to view your existing reservations or submit a
  reservation request.
</p>
<a href="/login/" class="btn btn-primary">Sign In</a>
<a href="/reservation_form/" class="btn btn-secondary"
  >Submit Reservation Request</a
><br><br><br>

{% endif %} {% endblock %}