<!-- Reference: Code Institute Curriculum and Code Star Project -->
<!-- Reference: https://github.com/flatplanet/Django-CRM -->
<!-- Reference: https://getbootstrap.com -->
<!-- Notes: Below code is based on the above references and modifed for the project -->

<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Fine Dine - Update Reservation</title>
    <meta name="description" content="Plan your unforgettable fine-dining experience! Book a table online at our restaurant and savor exquisite cuisine in an elegant ambiance.">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    {% extends 'base.html' %} 
    {% block content %}
    {% load crispy_forms_tags %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="col-md-6 mb-6">
        <h2>Reservation Update for User:</h2><h3>{{ user.username }}</h3></div> 
        <p>Current information for the booking name: <b>{{ reservation.name }}</b>, with ID no: <b>{{ reservation.id }}</b></p>
        {% if reservation %}
        <form id="reservation-form"
          method="POST"
          action="{% url 'update_reservation' reservation.id %}">
          {% csrf_token %}
          {{ form|crispy }}
          <p><b>Note:</b> Before saving yor new information here, please confirm once more that you have read our terms and conditions.</p>
          <a href="/agreed_to_terms" target="_blank">Read Terms and Conditions</a>
        <div class="col-12 text-center mt-3">
          <button type="submit" class="btn btn-primary" id="submit-btn" disabled>Save Changes</button>
          <a href="/my_reservations" class="btn btn-success">Back to Your Reservations</a>
        </div></form>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
    {% else %}
    <p>Reservation not found.</p></div> 
   
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    {% load static %}
    <script src="{% static '/js/reservation_form.js' %}"></script>
    
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const termsCheckbox = document.getElementById('id_agreed_to_terms');
    
    if (termsCheckbox) {
        termsCheckbox.checked = false;
    }
});
</script>
    {% endblock %}